doctype html

html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(charset="utf-8")
		title pockettrainer: Workouts 
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
		script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
		link(rel='stylesheet', href='/stylesheets/home.css')
	body
		div(class="bg")

		div(class="container-narrow")

			div(class="masthead")
				ul(class="nav nav-pills pull-right")
					li(class="active")
						a(href="/Coach") Login Page				

				h3(class="muted") pocket trainer

			div(class="jumbotron")
				h3 View or Edit Workouts you've already defined

			hr

			div(class="row-fluid marketing")
				div(class="span6")
					h4 #{workout.workoutName}:
						h5 Theme: #{workout.workoutTheme}
						h5 Target time: #{workout.targetTime} minutes.
						h5 Description: 
						p #{workout.workoutDescription}

				div(class="span6")
					h4 Elements:
						
						each element, i in elements

							h6 ID# #{element.exerciseI},  #{names[i]}: #{element.exerciseReps} Reps


					h4 Edit this Workout:
					
					form(name="addworkout",method="post",action="/addworkout")
						input#inputWorkoutName(type="text", placeholder="#{workout.workoutName}", name="workoutname")
						input#inputWorkoutTheme(type="text", placeholder="#{workout.workoutTheme}", name="workouttheme")
						input#inputWorkoutDescription(type="text",placeholder="Description", name="workoutdescription")
						label(for="workoutexercises") Exercise: 

						input#inputExerciseReps(type="integer", placeholder="Reps",name="exercisereps")
						input#inputTargetTime(type="integer", placeholder="#{workout.targetTime}","name=targettime")
						button#btnSubmit(type="submit") submit
				
			
			hr

			div(class="footer")
				p © pockettrainer 2014

			